<div class="center hero-unit">
  <h1>Unix Web</h1>

  <h2>
    This is the home page for the Unix Team
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("Max-in-the-dark.gif", alt: "Max"), root_path %>