<% provide(:title, 'Racks') %>
<h1>Racks</h1>

<table id="rack_table" class="table table-striped">
<thead>
  <tr>
  	<th>Rack</th>
  	<th>Datacenter</th>
  	<th>#Servers</th>
  	<th>Used Height (u)</th>
  	<th>Total Power (W)</th>
  	<th>Power Sockets</th>
  	<th>Heat Dissipation BTU/hr</th>
  	<% if signed_in? && current_user.admin? %><th>Actions</th><% end %>
  </tr>
</thead>
<tbody>
  <%= render @server_racks %>
</tbody>
</table>



