<div class="row">
<div class="span6">
<form>
	<fieldset>
		<legend><%= @server.name %> decommissioning</legend>
		<label>Carried out by:</label>
		<input type="text" placeholder="Engineer's name">
		<label class="checkbox">
			<input type="checkbox" value="em_notified">
			Notified EM team to stop alerting
		</label>
		<label class="checkbox">
			<input type="checkbox" value="sth_else">
			Something else
		</label>
		
	</fieldset>
</form>

</div>
</div>
