

<% provide(:title, 'All servers') %>
<h1>All servers</h1>

<% if signed_in? %>
<%= button_to('Add Server', new_server_path, :class => "btn" )%>
<% end %>

<table id="server_table" class="table table-striped">
<thead>
  <tr>
  	<th>Name</th>
  	<th>Parent</th>
  	<th>Site</th>
  	<th>Rack</th>
  	<th>Environment</th>
  	<th>Project</th>
  	<th>Usage</th>
  	<% if signed_in? && current_user.admin? %><th>Actions</th><% end %>
  </tr>
  </thead>
  <tbody>
  <%= render @servers %>
  </tbody>

</table>





