<div class="row center">
	<%= image_tag("500px-HAL9000.svg.png", alt: "No, Dave", size:"250x250") %>
</div>

<div class="row center">
	<h1>I'm sorry Dave, but I can't let you do that.</h1>
</div>