<% provide(:title, 'Model Index') %>
<h1>System Models</h1>
<% if signed_in? && current_user.admin? %>
<%#= button_to('Add Model', new_server_model_path, :class => "btn" )%>
<% end %>

<%= will_paginate %>

<table class="table table-striped">
  <tr>
  	<th>Model</th>
  	<th>#Servers</th>
  	<th>Height (U)</th>
  	<th>Power</th>
  	<th>Power Socket</th>
  	<th>Heat Dissipation BTU/hr</th>
  	<% if signed_in? && current_user.admin? %><th>Actions</th><% end %>
  </tr>
  <%= render @server_models %>
</table>

<%= will_paginate %>

<br>

